service: something # name of project

provider:
  awsProfile: something # from ~/.aws/credentials; refer to `http://docs.aws.amazon.com/cli/latest/userguide/cli-multiple-profiles.html`
  awsTagName: something # AWS tag to group resources together

accountId: 99999999

staging:
  dynamodbConfig:
    region: localhost
    endpoint: https://dynamodb.<region>.amazonaws.com
    awsAccessKeyId: something
    awsSecretAccessKey: something
  appSyncConfig:
    name: APPSYNCBOILERPLATE-staging
    # apiKey # only required for update-appsync/delete-appsync
    authenticationType: API_KEY
    logConfig:
      loggingRoleArn: { Fn::GetAtt: [APPSYNCBOILERPLATEstagingAppSyncLSR, Arn] }
      level: ERROR # Logging Level: NONE | ERROR | ALL
    mappingTemplatesLocation: "appsync/mapping-templates"
    mappingTemplates:
      - dataSource: Articles
        type: Query
        field: articles
        request: "requests/articles.vtl"
        response: "responses/articles.vtl"
    schema: appsync/schema.graphql # TODO share across multiple env?
    dataSources:
      - type: AMAZON_DYNAMODB
        name: Articles
        description: "Articles table in staging env"
        config:
          tableName: { Ref: APPSYNCBOILERPLATEstagingArticleTable }
          serviceRoleArn: { Fn::GetAtt: [APPSYNCBOILERPLATEstagingAppSyncDynamoDBSR, Arn] }

prod:
  dynamodbConfig:
    region: localhost
    endpoint: https://dynamodb.<region>.amazonaws.com
    awsAccessKeyId: something
    awsSecretAccessKey: something
  appSyncConfig:
    name: APPSYNCBOILERPLATE-prod
    # apiKey # only required for update-appsync/delete-appsync
    authenticationType: API_KEY
    logConfig:
      loggingRoleArn: { Fn::GetAtt: [APPSYNCBOILERPLATEprodAppSyncLSR, Arn] }
      level: ERROR # Logging Level: NONE | ERROR | ALL
    mappingTemplatesLocation: "appsync/mapping-templates"
    mappingTemplates:
      - dataSource: Articles
        type: Query
        field: articles
        request: "requests/articles.vtl"
        response: "responses/articles.vtl"
    schema: appsync/schema.graphql # TODO share across multiple env?
    dataSources:
      - type: AMAZON_DYNAMODB
        name: Articles
        description: "Articles table in prod env"
        config:
          tableName: { Ref: APPSYNCBOILERPLATEprodArticleTable }
          serviceRoleArn: { Fn::GetAtt: [APPSYNCBOILERPLATEprodAppSyncDynamoDBSR, Arn] }
